# .NET
**/bin/
**/obj/

# Vs Code
.vscode/

# OS
.DS_Store
Thumbs.db

# App settings
**/appsettings.Development.json

# Docker / Postgres volumes
infra/**/pgdata/
infra/**/data/

# EF Core
**/Migrations/*
